body {
  --log-level-custom: theme('colors.sky.400');
  --log-level-info: theme('colors.sky.400');
  --log-level-debug: theme('colors.indigo.500');
  --log-level-warning: theme('colors.amber.400');
  --log-level-error: theme('colors.rose.500');
  --log-level-critical: theme('colors.rose.700');
}

.color-mode-default {
  --state-completed-50: #DEF8F0;
  --state-completed-100: #C9F4E6;
  --state-completed-200: #9FEBCD;
  --state-completed-300: #75E2AF;
  --state-completed-400: #4BD98D;
  --state-completed-500: #2AC769;
  --state-completed-600: #219D4B;
  --state-completed-700: #187330;
  --state-completed-800: #0F491B;
  --state-completed-900: #061F0A;

  --state-failed-50: #FED6BE;
  --state-failed-100: #FDCBB2;
  --state-failed-200: #FDB299;
  --state-failed-300: #FC9580;
  --state-failed-400: #FC7367;
  --state-failed-500: #FB4E4E;
  --state-failed-600: #FA1C2F;
  --state-failed-700: #DE0529;
  --state-failed-800: #AC042E;
  --state-failed-900: #7A032B;

  --state-running-50: #F1F4FE;
  --state-running-100: #D9E0FD;
  --state-running-200: #A9BCFA;
  --state-running-300: #799AF7;
  --state-running-400: #487BF5;
  --state-running-500: #1860F2;
  --state-running-600: #0B51CC;
  --state-running-700: #09439B;
  --state-running-800: #06316B;
  --state-running-900: #031D3B;
  
  --state-pending-50: #FFFFFF;
  --state-pending-100: #F8F7F8;
  --state-pending-200: #E4E1E5;
  --state-pending-300: #D0CBD2;
  --state-pending-400: #BDB5C0;
  --state-pending-500: #A99FAD;
  --state-pending-600: #8E8093;
  --state-pending-700: #726576;
  --state-pending-800: #554B58;
  --state-pending-900: #38313A;

  --state-scheduled-50: #FCFFEC;
  --state-scheduled-100: #FBFEDA;
  --state-scheduled-200: #FEFEB7;
  --state-scheduled-300: #FDF594;
  --state-scheduled-400: #FDE671;
  --state-scheduled-500: #FCD14E;
  --state-scheduled-600: #FBB11C;
  --state-scheduled-700: #E08504;
  --state-scheduled-800: #AE5903;
  --state-scheduled-900: #7C3502;

  --state-cancelled-50: #DEDEDE;
  --state-cancelled-100: #CCCCCC;
  --state-cancelled-200: #A8A8A8;
  --state-cancelled-300: #848484;
  --state-cancelled-400: #616161;
  --state-cancelled-500: #3D3D3D;
  --state-cancelled-600: #333333;
  --state-cancelled-700: #292929;
  --state-cancelled-800: #1E1E1E;
  --state-cancelled-900: #141414;
}

.color-mode-protaponia {
  --state-completed-50: #E9FFF9;
  --state-completed-100: #D2FFF0;
  --state-completed-200: #A4FFD1;
  --state-completed-300: #76FFA4;
  --state-completed-400: #48FF66;
  --state-completed-500: #1AFF1A;
  --state-completed-600: #25DC00;
  --state-completed-700: #359F00;
  --state-completed-800: #316100;
  --state-completed-900: #182400;

  --state-failed-50: #F5EBFF;
  --state-failed-100: #E3C5FF;
  --state-failed-200: #BE78FF;
  --state-failed-300: #982CFF;
  --state-failed-400: #7200DF;
  --state-failed-500: #4B0092;
  --state-failed-600: #41007E;
  --state-failed-700: #360069;
  --state-failed-800: #2C0055;
  --state-failed-900: #210040;

  --state-running-50: #E9F3FF;
  --state-running-100: #D2E7FF;
  --state-running-200: #A4CEFF;
  --state-running-300: #76B6FF;
  --state-running-400: #489DFF;
  --state-running-500: #1A85FF;
  --state-running-600: #0067DC;
  --state-running-700: #004A9F;
  --state-running-800: #002E61;
  --state-running-900: #001124;

  --state-pending-50: #FBFCFE;
  --state-pending-100: #F6F7FB;
  --state-pending-200: #EBEEF7;
  --state-pending-300: #BFC9E6;
  --state-pending-400: #94A4D4;
  --state-pending-500: #687FC3;
  --state-pending-600: #445DA9;
  --state-pending-700: #32457E;
  --state-pending-800: #212D52;
  --state-pending-900: #0F1526;

  --state-scheduled-50: #FFFAEC;
  --state-scheduled-100: #FEF5DA;
  --state-scheduled-200: #FEECB7;
  --state-scheduled-300: #FDE394;
  --state-scheduled-400: #FDDA71;
  --state-scheduled-500: #FCD14E;
  --state-scheduled-600: #FBC00D;
  --state-scheduled-700: #C29303;
  --state-scheduled-800: #816202;
  --state-scheduled-900: #403001;

  --state-cancelled-50:  #F5F5F5;
  --state-cancelled-100: #E0E0E0;
  --state-cancelled-200: #B7B7B7;
  --state-cancelled-300: #8F8F8F;
  --state-cancelled-400: #666666;
  --state-cancelled-500: #3D3D3D;
  --state-cancelled-600: #2E2E2E;
  --state-cancelled-700: #1E1E1E;
  --state-cancelled-800: #0F0F0F;
  --state-cancelled-900: #000000;
}

.color-mode-protanomaly {
  --state-completed-50: #DEF8F0;
  --state-completed-100: #C9F4E6;
  --state-completed-200: #9FEBCD;
  --state-completed-300: #75E2AF;
  --state-completed-400: #4BD98D;
  --state-completed-500: #2AC769;
  --state-completed-600: #219D4B;
  --state-completed-700: #187330;
  --state-completed-800: #0F491B;
  --state-completed-900: #061F0A;

  --state-failed-50: #FFF8EA;
  --state-failed-100: #FEEFD9;
  --state-failed-200: #FDD6B6;
  --state-failed-300: #FDB393;
  --state-failed-400: #FC8670;
  --state-failed-500: #FB4E4D;
  --state-failed-600: #FA1133;
  --state-failed-700: #C9053E;
  --state-failed-800: #8D0341;
  --state-failed-900: #510231;

  --state-running-50: #E9F6FF;
  --state-running-100: #D2EBFF;
  --state-running-200: #A4D5FF;
  --state-running-300: #76BDFF;
  --state-running-400: #48A2FF;
  --state-running-500: #1A85FF;
  --state-running-600: #005FD7;
  --state-running-700: #003E94;
  --state-running-800: #002052;
  --state-running-900: #000610;

  --state-pending-50: #FFFFFF;
  --state-pending-100: #F8F7F8;
  --state-pending-200: #E4E1E5;
  --state-pending-300: #D0CBD2;
  --state-pending-400: #BDB5C0;
  --state-pending-500: #A99FAD;
  --state-pending-600: #8E8093;
  --state-pending-700: #726576;
  --state-pending-800: #554B58;
  --state-pending-900: #38313A;

  --state-scheduled-50: #FFFFFC;
  --state-scheduled-100: #FEFFE0;
  --state-scheduled-200: #FFFEA8;
  --state-scheduled-300: #FFF870;
  --state-scheduled-400: #FFED38;
  --state-scheduled-500: #FFDD00;
  --state-scheduled-600: #C7A400;
  --state-scheduled-700: #8F7000;
  --state-scheduled-800: #574000;
  --state-scheduled-900: #1F1500;

  --state-cancelled-50: #DEDEDE;
  --state-cancelled-100: #CCCCCC;
  --state-cancelled-200: #A8A8A8;
  --state-cancelled-300: #848484;
  --state-cancelled-400: #616161;
  --state-cancelled-500: #3D3D3D;
  --state-cancelled-600: #333333;
  --state-cancelled-700: #292929;
  --state-cancelled-800: #1E1E1E;
  --state-cancelled-900: #141414;
}