
.state--completed { @apply
  bg-state-completed-50
  text-state-completed-600
}

.state--running { @apply
  bg-state-running-100
  text-state-running-700
}

.state--scheduled { @apply
  bg-state-scheduled-100
  text-state-scheduled-700
}

.state--pending { @apply
  bg-state-pending-300
  text-state-pending-800
}

.state--failed { @apply
  bg-state-failed-50
  text-state-failed-700
}

.state--cancelled { @apply
  bg-state-cancelled-100
  text-state-cancelled-600
}

.state--unknown { @apply
  bg-slate-300
  text-slate-700
}